@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

html,
body {
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Overpass', 'Sans-serif';
    background-color: hsl(216, 12%, 8%);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.rating-card {
    border-radius: 1rem;
    background-image:
        radial-gradient(circle at top,
            hsl(216, 47%, 31%),
            hsl(214, 27%, 24%),
            hsl(215, 20%, 18%));
    width: 25%;
    height: auto;
    padding: 2rem;
}


.rating-state {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.star-img {
    display: inline-block;
    background-image: url('./images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(216, 38%, 31%);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.select-rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.star-button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: hsl(216, 38%, 31%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-button:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

.submit {
    width: 100%;
    height: 2.2rem;
    display: block;
    color: white;
    /* border-radius: 5s%; */
    border: 1px solid hsl(25, 97%, 53%);
    background-color: hsl(25, 97%, 53%);
    border-radius: 12px;
}

.submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
    cursor: pointer;
}

.thankyou-state {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    display: none;
}

.thankyou-img {
    content: url('./images/illustration-thank-you.svg');
}

.your-rating {
    height: 10%;
    width: 50%;
    background-color:  hsl(210, 19%, 21%);
    color: hsl(25, 97%, 53%);
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.thankyou-text {
    text-align: center;
}

@media screen and (min-width: 375px) {
    .rating-card {
        width: 70%;
    }

    .your-rating {
        width: 80%;
    }
}

@media screen and (min-width: 480px) {
    .rating-card {
        width: 60%;
    }

    .your-rating {
        width: 70%;
    }
}
@media screen and (min-width: 786px) {
    .rating-card {
        width: 40%;
    }

    .your-rating {
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .rating-card {
        width: 25%;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}